*{
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    background-color: #ffd6ee;
    font-size: 25px;
    padding: 20px 60px 20px 60px; 
    box-sizing: border-box;
    position: fixed;
    font-family: "Lilita One", sans-serif;
    z-index: 100;
}

header nav {
    display: flex;
    justify-content: space-evenly;
}

a {
    cursor: url(img/cursor-click.png), auto;
}

header a {
    color: #db5f99;
    text-decoration: none;
}

header a:hover {
    color: rgb(255, 2, 78);
}

/* comienzo index */

.foto-nombre {
    padding-bottom: 40px; 
    gap: 50px;
    display: flex;
    align-items:flex-end;
}

.foto-personal {
    border-radius: 25px;
    border-color: palevioletred;
    border-style: dashed;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    background-image: url(img/fondo-hojas.png);
    background-size: cover;
    background-position: center;
    background-repeat: repeat; 
    background-color: #fff6ec;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: url(img/cursor.png), auto;
}

main {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 60%;
}

.recuadro-rosa {
    border: 4px solid pink;
    padding: 20px;
    border-radius: 20px;
}

.educacion-habilidades {
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
}

h1 {
    color: rgb(216, 112, 147);
    padding: 20px 20px 20px 0;
    font-size: 3em;
    font-family:Arial, Helvetica, sans-serif;
}

.divs-index {
    padding-top: 20px;
}

h4 {
    padding-bottom: 20px;
}

h2 {
    color: #d87093;
    padding: 20px 0 20px 0;
}

ul {
    padding-bottom: 10px;
}

li {
    padding-bottom: 15px;
    list-style: url(img/flor-bullet.png);
}

/* comienzo mis ilustraciones */

.main-ilustraciones {
    width: 85%;
}

.ilustraciones-personales h1, .disenios h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    padding: 250px 0px 250px 0px;
    font-size: 4.5em;
    letter-spacing: 3px;
    color: #DB5F99;
    text-shadow: 1px 3px 3px #a02a6b;
}

.ilustraciones-imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 10;
}

.ilustraciones-imagenes img {
    border: solid #DB5F99;
}

.ilustraciones-imagenes, .ilustraciones-imagenes img {
    border-radius: 80px;
    gap: 40px;
}

.img-priestie-gif, .img-priestie-soga, .img-priestie, .img-crow, .img-pri-cruz, .img-draco, .img-eze, .img-hikasami, .img-pri-pre {
    position: relative;
    display: block;
}

.texto-priestie-gif, .texto-priestie-soga, .texto-priestie, .texto-crow, .texto-pri-cruz, .texto-draco, .texto-eze, .texto-hikasami, .texto-pri-pre {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
}

.texto-priestie-gif:hover, .texto-priestie-soga:hover, .texto-priestie:hover, .texto-crow:hover, .texto-pri-cruz:hover, .texto-draco:hover, .texto-eze:hover, .texto-hikasami:hover, .texto-pri-pre:hover {
    opacity: 1;
    transform: scale(102%);
}

.ilustraciones-imagenes h3 {
    color: white;
    font-size: 1.9em;
    font-weight: 200;
}

/* galeria */

.main-galeria {
    width: 90%;
    padding: 150px;
}

.flecha-volver-atras:hover {
    transform: scale(1.3);
    transition: 0.3s;
}

.flecha-izquierda {
    padding-right: 65px;
}

.flecha-derecha {
    padding-left: 65px;
}

.flecha-izquierda:hover, .flecha-derecha:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.section-galeria {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section-galeria img {
    border-radius: 30px;
}

.galeria-div {
    padding-left: 50px;
}

.galeria-div h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 3em;
    font-style: normal;
}

.galeria-div p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    font-style: normal;
}

.ilus:hover {
    filter: brightness(0.7);
    transition: 0.6s;
}

.hikasami-viejos {
    padding-top: 30px;
}

.p-hikasami-viejos {
    font-weight: 400;
    color:#DB5F99;
}

video {
    border: 7px double #DB5F99;
    border-radius: 40px;
    box-shadow: 0 6px 12px rgba(192, 2, 113, 0.3);
}

.video-speedart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.video-speedart h3 {
    font-size: 2em;
    font-weight: 650;
    color: #DB5F99;
    padding: 40px; 
    border: solid #DB5F99;
    border-width: 2px; 
    margin: 20px; 
    border-radius: 30px;
    box-shadow: 0 6px 12px rgba(192, 2, 113, 0.3);
}

/* comienzo diseños */

.main-disenios {
    width: 100%;
}

.sinister-fondo {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 740px;
    width: 100%;
    animation: cambioFondoSinister 15s infinite;
}

@keyframes cambioFondoSinister {
    0% {
        background-image: url(img/sinister-fondo.jpg);
    }
    33.33% {
        background-image: url(img/sinister-fondo2.jpg);
    }
    66.66% {
        background-image: url(img/sinister-fondo3.jpg);
    }
    100% {
        background-image: url(img/sinister-fondo.jpg);
    }
}

.junji-ito-fondo {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 740px;
    width: 100%; 
    animation: cambioFondoJunji 13s infinite;
}

@keyframes cambioFondoJunji {
    0% {
        background-image: url(img/junji-ito-fondo.jpg);
    }
    33.33% {
        background-image: url(img/junji-ito-fondo2.jpg);
    }
    66.66% {
        background-image: url(img/junji-ito-fondo3.jpg);
    }
    100% {
        background-image: url(img/junji-ito-fondo.jpg);
    }
}

.sinister-posters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding-top: 150px;
    gap: 90px;
}

.sinister-postales {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-top: 130px;
    gap: 70px;
    padding-bottom: 150px;
}

.junji-libro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-top: 150px;
    gap: 50px;
}

.img-poster1, .img-publico, .img-postal1, .img-postal2, .img-postal3, .img-libro1, .img-libro2, .img-libro3, .img-libro4 {
    position: relative;
    display: block;
}

.texto-poster1, .texto-publico, .texto-postal1, .texto-postal2, .texto-postal3, .texto-libro1, .texto-libro2, .texto-libro3, .texto-libro4 {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
}

.texto-poster1:hover, .texto-publico:hover, .texto-postal1:hover, .texto-postal2:hover, .texto-postal3:hover, .texto-libro1:hover, .texto-libro2:hover, .texto-libro3:hover, .texto-libro4:hover {
    opacity: 1;
    transform: scale(102%);
}

.sinister-piezas h3, .junji-piezas h3 {
    color: white;
    font-size: 1.9em;
    font-weight: 200;
}

/* comienzo formulario */

.main-formulario {
    width: 70%;
    height: auto;
}

.form-section {
    padding-top: 85px;
    display: flex; 
    justify-content: flex-start;
    align-items: center; 
}

.form-section h3 {
    font-family: "Roboto", sans-serif;
    color: #DB5F99;
    padding-bottom: 50px;
    font-size: 1.5em;
}

form label, .p-form-genero {
    font-family: "Roboto", sans-serif;
    color: #DB5F99;
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 10px;
}

.form-nombre, .form-apellido, .form-email, .form-numero, .form-nacimiento, .form-localidad {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.div-form-nombre-apellido {
    display: flex;
    flex-direction: row;
}

.form-nombre input {
    width: 110%;
    padding: 8px; 
    border: 1px solid #fff6ec;
    border-radius: 10px;
    box-shadow: 0px 3px 7px rgba(214, 21, 127, 0.5); 
    cursor: url(img/cursor-texto.png), auto;
}

.form-apellido {
    margin-left: 60px;
}

.form-apellido input {
    width: 110%;
    padding: 8px; 
    border: 1px solid #fff6ec;
    border-radius: 10px;
    box-shadow: 0px 3px 7px rgba(214, 21, 127, 0.5); 
    cursor: url(img/cursor-texto.png), auto;
}

.form-email input {
    width: 80%;
    padding: 8px; 
    border: 1px solid #fff6ec;
    border-radius: 10px;
    box-shadow: 0px 3px 7px rgba(214, 21, 127, 0.5); 
    cursor: url(img/cursor-texto.png), auto;
}

.form-numero input {
    width: 80%;
    padding: 8px; 
    border: 1px solid #fff6ec;
    border-radius: 10px;
    box-shadow: 0px 3px 7px rgba(214, 21, 127, 0.5); 
    cursor: url(img/cursor-texto.png), auto;
}

.div-form-nacimiento-localidad {
    display: flex;
    flex-direction: row;
}

.form-nacimiento input {
    width: 110%;
    padding: 8px; 
    border: 1px solid #fff6ec;
    border-radius: 10px;
    box-shadow: 0px 3px 7px rgba(214, 21, 127, 0.5); 
    cursor: url(img/cursor.png), auto;
}

.form-localidad input {
    width: 110%;
    padding: 8px; 
    border: 1px solid #fff6ec;
    border-radius: 10px;
    box-shadow: 0px 3px 7px rgba(214, 21, 127, 0.5); 
    cursor: url(img/cursor-texto.png), auto;
}

.form-localidad {
    margin-left: 60px;
}

.form-genero p {
    padding-bottom: 10px;
}

.form-genero label {
    padding-right: 40px;
    font-weight: 400;
}

.form-genero input {
    margin-left: 10px;
}

.form-enviar {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.form-enviar input {
    color: #ffffff;
    background-color: #DB5F99;
    font-weight: 500;
    border: none;
    padding: 7px 30px; 
    font-size: 1.5em;
    cursor: url(img/cursor-click.png), auto;
    border-radius: 25px; 
}

.form-enviar input:hover {
    color: #ffffff;
    background-color:#e2128c;
    transition: 0.3s;
    font-weight: 500;
    border: none;
    padding: 7px 30px; 
    font-size: 1.5em;
    cursor: url(img/cursor-click.png), auto;
    border-radius: 25px; 
}

.form-imagen {
    padding-left: 200px;
    padding-bottom: 150px;
}

/* footer */

footer {
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(219, 95, 153);
    background-color: #ffd6ee;
}

footer address {
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
}

footer a {
    color: rgb(219, 95, 153);
    text-decoration: underline;
    font-size: 1em;
}

footer a:hover {
    color: #ff0062;
}

.telefono-wpp {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.telefono-wpp img {
    padding-right: 10px;
}

.mail {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mail img {
    padding-right: 10px;
}

.instagram {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.instagram img {
    padding-right: 10px;
}

.behance {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.behance img {
    padding-right: 10px;
}

/* media del index */

@media screen and (max-width: 600px) {

    header nav {
        display: flex;
        justify-content: space-between;
    }

    .foto-nombre {
        gap: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .divs-index img {
        transform: scale(1.2);
    }

    .divs-index {
        padding-top: 50px;
        padding-bottom: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    h1 {
        padding: 0px 0px 20px 0px;
        font-size: 2em;
    }
    
    h4 {
        padding-bottom: 15px;
    }

    .recuadro-rosa p {
        font-size: 1.2em;
    }
    
    .educacion-habilidades {
    padding-top: 40px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    li {
        padding-bottom: 20px;
        font-size: 1.2em;
        list-style: url(img/flor-bullet.png);
    }
    
    h2 {
        padding-top: 15px;
        padding-bottom: 25px;
        font-size: 1.7em;
    }
    
    main {
        width: 70%;
    }

    .habilidades-class, .educacion, .idiomas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .educacion {
        width: 65%;
    }

    footer {
        width: 100%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(219, 95, 153);
        background-color: #ffd6ee;
    }
    
    footer address {
        padding: 15px;
        gap: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    address p {
        font-size: 1.2em;
    }

    footer a {
        color: rgb(219, 95, 153);
        text-decoration: underline;
        font-size: 1em;
    }
    
    footer a:hover {
        color: #ff0062;
    }
    
    .telefono-wpp {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .telefono-wpp img, .mail img, .instagram img, .behance img {
        padding-right: 0px;
        transform: scale(1.2);
        padding-bottom: 5px;
        padding-top: 5px;
    }
    
    .mail {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .instagram {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .behance {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}