*{
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    background-color: #ffd6ee;
    font-size: 25px;
    padding: 20px 60px 20px 60px; 
    box-sizing: border-box;
    position: fixed;
    font-family: "Lilita One", sans-serif;
    z-index: 5;
}

header nav {
    display: flex;
    justify-content: space-evenly;
}

a {
    cursor: url(img/cursor-click.png), auto;
}

header a {
    color: #db5f99;
    text-decoration: none;
}

header a:hover {
    color: rgb(255, 2, 78);
}

/* comienzo index */

.foto-nombre {
    padding-bottom: 40px; 
    gap: 50px;
    display: flex;
    align-items:flex-end;
}

.foto-personal {
    border-radius: 25px;
    border-color: palevioletred;
    border-style: dashed;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    background-image: url(img/fondo-hojas.png);
    background-size: cover;
    background-position: center;
    background-repeat: repeat; 
    background-color: rgb(255, 246, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: url(img/cursor.png), auto;
}

main {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 60%;
}

.recuadro-rosa {
    border: 4px solid pink;
    padding: 20px;
    border-radius: 20px;
}

.educacion-habilidades {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}

h1 {
    color: rgb(216, 112, 147);
    padding: 20px 20px 20px 0;
    font-size: 3em;
    font-family:Arial, Helvetica, sans-serif;
}

div {
    padding-top: 20px;
}

h4 {
    padding-bottom: 20px;
}

h2 {
    color: #d87093;
    padding: 20px 0 20px 0;
}

ul {
    padding-bottom: 10px;
}

li {
    padding-bottom: 15px;
    list-style: url(img/flor-bullet.png);
}

/* comienzo mis ilustraciones */

.main-ilustraciones {
    width: 85%;
}

.ilustraciones-personales h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    padding: 250px 0px 250px 0px;
    font-size: 4.5em;
    letter-spacing: 3px;
    color: #DB5F99;
    text-shadow: 1px 3px 3px #a02a6b;
}

.ilustraciones-imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 10;
}

.ilustraciones-imagenes {
    padding: 20px;
    border-radius: 80px;
}

.ilustraciones-imagenes img {
    transition: filter 0.5s ease;
}

.ilustraciones-imagenes img:hover {
    filter: brightness(50%);
}

.priestie-gif {
    padding: 20px;
    border-radius: 80px;
}

.priestie-soga {
    padding: 20px;
    border-radius: 80px;
}

.priestie {
    padding: 20px;
    border-radius: 80px;
}

.crow {
    padding: 20px;
    border-radius: 80px;
}

.luci {
    padding: 20px;
    border-radius: 80px;
}

.draco {
    padding: 20px;
    border-radius: 80px;
}

.eze {
    padding: 20px;
    border-radius: 80px;
}

.hikasami {
    padding: 20px;
    border-radius: 80px;
}

.pri-pre {
    padding: 20px;
    border-radius: 80px;
}

/* footer */

footer {
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(219, 95, 153);
    background-color: #ffd6ee;
}

footer address {
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
}

footer a {
    color: rgb(219, 95, 153);
    text-decoration: underline;
    font-size: 1em;
}

footer a:hover {
    color: #ff1493;
    background-color: rgba(253, 173, 184, 0.562);
    border-radius: 15px;
    padding: 4px 10px 4px 10px;
    margin: 3px;
}

.telefono-wpp {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.telefono-wpp img {
    padding-right: 10px;
}

.mail {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mail img {
    padding-right: 10px;
}

.instagram {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.instagram img {
    padding-right: 10px;
}

.behance {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.behance img {
    padding-right: 10px;
}