*{
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    background-color: rgb(255, 214, 238);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /*esto se reemplaza con el font-fámily de la línea 14, no puede estar la misma propiedad dos veces en un solo selector */
    font-size: 25px;
    padding: 20px 60px 20px 60px; 
    box-sizing: border-box;
    position: fixed;
    font-family: "Lilita One", sans-serif;
}

header nav {
    display: flex;
    flex-direction: row; /*esta propiedad no hace nada*/
    justify-content: space-around;
}

a {
    cursor: url(img/cursor-click.png), auto;
}

header a {
    color: rgb(219, 95, 153);
    text-decoration: none;
}

header a:hover {
    color: rgb(255, 2, 78);
}

.foto-nombre {
    padding-bottom: 40px; 
    gap: 50px;
    display: flex;
    align-items:flex-end;
}

.foto-personal {
    border-radius: 25px;
    border-color: palevioletred;
    border-style: dashed;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    background-color: rgb(255, 246, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: url(img/cursor.png), auto;
}

main {
    padding-top: 100px;
    padding-bottom: 50px;
    width: 60%;
}

.recuadro-rosa {
    border: 4px solid pink;
    padding: 20px;
    border-radius: 20px;
}

.educacion-habilidades {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}

h1 {
    color: palevioletred;
    padding: 20px 20px 20px 0;
    font-size: 3em;
    font-family:Arial, Helvetica, sans-serif;
}

div {
    padding-top: 20px;
}

h4 {
    padding-bottom: 20px;
}

h2 {
    color: palevioletred;
    padding: 20px 0 20px 0;
}

ul {
    padding-bottom: 10px;
}

li {
    padding-bottom: 15px;
    list-style: url(img/flor-bullet.png);
}

.mis-ilustraciones {
    display: flex;
    flex-direction: row; /*esto no está haciendo nada*/
    justify-content: flex-start; /*esto no está haciendo nada*/
    flex-wrap: wrap;
}

.priest {
    padding: 5px;
}

.priest-dos {
    padding: 5px;
}

.crowley {
    padding: 5px;
}

.draco {
    padding: 5px;
}

p {
    padding: 5px 20px 20px 5px;
}

footer {
    width: 70%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(219, 95, 153);
    background-color: rgba(255, 165, 220, 0.356);
}

footer address {
    padding: 15px;
    display: flex;
    flex-direction: row; /*esto no está haciendo nada*/
    justify-content: space-evenly;
}

footer a {
    color: rgb(219, 95, 153);
    text-decoration: underline;
    font-size: 1em;
}

footer a:hover {
    color: deeppink;
    background-color: rgba(253, 173, 184, 0.562);
    border-radius: 15px;
    padding: 4px 10px 4px 10px;
    margin: 3px;
}

.telefono-wpp {
    display: flex;
    flex-direction: row;
} /*si todos los div del address tienen las mismas propiedades podrías pensar un único selector para todos y ahorrar líneas*/

.mail {
    display: flex;
    flex-direction: row;
}

.instagram {
    display: flex;
    flex-direction: row;
}

.behance {
    display: flex;
    flex-direction: row;
}
